<div class="table-responsive list-student">
  <div class="list-student-title">
    <h3>LIST STUDENTS</h3>
  </div>

  <table id="students-table" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>Nama</th>
        <th>NPM</th>
        <th>Prodi</th>
        <th>Tahun Masuk</th>
        <th>Status</th>
        <th>Semester</th>
        <th>IPK</th>
        <th>SKS Lulus</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Nama</th>
        <th>NPM</th>
        <th>Prodi</th>
        <th>Tahun Masuk</th>
        <th>Status</th>
        <th>Semester</th>
        <th>IPK</th>
        <th>SKS Lulus</th>
      </tr>
    </tfoot>
  </table>
</div>
