<div class="table-responsive list-user">
  <div class="list-user-title mx-auto">
    <h3>LIST USERS</h3>
  </div>

  <div class="col-12">
    <table class="display" id="data-table1">
      <thead>
        <tr>
          <th scope="col">NO</th>

          <th scope="col">Email</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0 ; i< users.length;i++) {%>
        <tr>
          <th scope="row"><%= i + 1 %></th>

          <td class="text-sm"><%= users[i].email %></td>

          <td>
            <form action="/api/admin/edit_user" method="post" class="d-inline">
              <input type="hidden" name="id" value="<%- users[i].id %>" />
              <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <form
              action="/api/admin/list_user/delete?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <input type="hidden" name="id" value="<%- users[i].id %>" />

              <button
                type="submit"
                class="btn btn-danger"
                id="confirm-delete-user"
                onclick="return Swal.fire('Good job!','You clicked the button!', 'success')"
              >
                Delete
              </button>
            </form>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>
  </div>
</div>
