/* ///////////////// INPUT ////////////////////////////*/
form input {
  border-radius: 5px;
}

form input:focus {
  background-color: #eeeeee !important;

  border: 3px solid #aa14f0 !important;
}

/* /////////////////////////////////// */
