.text-uppercase {
    text-transform: uppercase;
}

h1.title-h1 {
    font-size: 45px;
    font-weight: 700;
    color: black;
    padding: 0 0 20px;
}

h2.title-h2 {
    font-size: 35px;
    font-weight: 600;
    color: white;
    padding: 0 0 20px;
    text-transform: capitalize;
}

h1.title-h1 {
    font-size: 45px;
    font-weight: 700;
    color: white;
    padding: 0 0 20px;
}


.btn-1 {
    background-color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    transition: all .4s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: var(--black-000);
    ;
    background-color: var(--main-color);
}

.btn-2 {
    text-transform: capitalize;
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    transition: all .4s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-2:focus {

    box-shadow: var(--shadow-black-100);
}

.btn-2:hover {
    color: var(--main-color);
    background-color: #ffffff;
}

.section-padding {
    padding: 100px 0;
    margin-top: 70px;
    margin-bottom: 70px;
}

p.para-b {
    color: var(--black-400);
    font-size: 16px;
    font-weight: 100;
    margin: 0;
}

p.para {
    color: var(--black-400);
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

p.para-w {
    color: #ffffff;
    opacity: .8;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* owl carousel */

.owl-carousel .owl-dots {
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

.owl-carousel .owl-dots .owl-dot {
    width: 24px;
    height: 5px;
    background-color: #a5a5a5;
    display: inline-block;
    margin-top: 4px;
    border-radius: 5px;
    margin-right: 3px;
}

.owl-carousel .owl-dot.active {
    /* width: 24px;
    height: 5px; */
    background-color: var(--main-color);
}

/* end owl carousel */


.section-title {

    padding: 30px;
}

.section-title h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
}

h3.title-b {
    font-size: 22px;
    color: var(--black-900);
    font-weight: 600;
    margin: 20px 0;
    text-transform: capitalize;
}

h3.title-w {
    font-size: 22px;
    color: var(--black-000);
    font-weight: 600;
    margin: 20px 0;
    text-transform: capitalize;
}