{%> <% for(let i = 0 ; i < article.length ; i++){ %>
<div class="col-md-6 col-sm-12">
  <div class="card rounded-0">
    <% console.log(article[0].title)%>
    <img
      src="<%- article[i].img %>"
      class="card-img-top media-img-top rounded-0"
      alt="..."
    />
    <div class="card-body">
      <h2 class="card-title"><%- article[i].title%></h2>
      <p class="card-text">
        <small class="text-muted"
          >07 Jan, 2021 <i class="far fa-eye"></i> 1211
          <i class="far fa-comments"></i> 51</small
        >
      </p>
      <p class="card-text fs-4"><%- article[i].content%></p>
      <a href="#" class="btn btn-primary rounded-0">Read more</a>
    </div>
  </div>
</div>
<% } %>
