<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Mazer Admin Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap-icons/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/style/css/style.css" />
    <link rel="stylesheet" href="/assets/css/pages/auth.css" />
  </head>

  <body>
    <div id="auth">
      <div class="row h-100">
        <div class="col-lg-5 mx-auto">
          <div class="container login-area">
            <center>
              <%- include('layouts/msg') %> <%- include('layouts/errors') %>
            </center>
            <h1 class="auth-title">Log in.</h1>
            <p class="auth-subtitle mb-5">
              Log in with your data that you entered during registration.
            </p>

            <form action="/auth/login" method="post">
              <div class="form-group position-relative has-icon-left mb-4">
                <input
                  name="email"
                  type="text"
                  class="form-control form-control-xl"
                  placeholder="email"
                />
                <div class="form-control-icon">
                  <i class="bi bi-person"></i>
                </div>
              </div>
              <div class="form-group position-relative has-icon-left mb-4">
                <input
                  name="password"
                  type="password"
                  class="form-control form-control-xl"
                  placeholder="Password"
                />
                <div class="form-control-icon">
                  <i class="bi bi-shield-lock"></i>
                </div>
              </div>
              <!-- <div class="form-check form-check-lg d-flex align-items-end">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                /> -->
              <!-- <label
                  class="form-check-label text-gray-600"
                  for="flexCheckDefault"
                >
                  Keep me logged in
                </label> -->
              <!-- </div> -->
              <br />
              <div><%- recaptcha %></div>
              <button class="btn btn-primary btn-block btn-lg shadow-lg mt-3">
                Log in
              </button>
            </form>
            <div class="text-center mt-3 text-lg fs-4">
              <p class="text-gray-600">
                Don't have an account?
                <a href="register" class="font-bold">Sign up</a>.
              </p>
              <p>
                <a class="font-bold" href="auth-forgot-password"
                  >Forgot password?</a
                >.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
