<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <a href="https://github.com/dasx000" target="blank">
      <span
        class="text-muted d-block text-center text-sm-left d-sm-inline-block"
        >Copyright © dasx000</span
      ></a
    >

    <span class="text-muted d-block text-center text-sm-right d-sm-inline-block"
      >|| Hasil Copy Paste *_* ||</span
    >
  </div>
</footer>
