<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Mahadi Hasan</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="resources/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/vendor/all.min.css">
    <link rel="stylesheet" href="resources/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="resources/css/vendor/owl.theme.default.css">
    <link rel="stylesheet" href="resources/css/style.css">
    
    <!-- JavaScript -->
    <script src="resources/js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="resources/js/vendor/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="resources/js/vendor/owl.carousel.min.js" type="text/javascript"></script>
    <script src="resources/js/app.js" type="text/javascript"></script>   
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Mahadi's Note</a>
            <button class="navbar-toggler rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#togglerContent" aria-controls="togglerContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse navbar-collapse" id="togglerContent">
                
                <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Topics
                        </a>
                        <ul class="dropdown-menu rounded-0" aria-labelledby="navDrop">
                            <li><a class="dropdown-item" href="category.html">Programming</a></li>
                            <li><a class="dropdown-item" href="#">Algorithm</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Web Development</a></li>
                            <li><a class="dropdown-item" href="#">Web Design</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Opinion</a></li>
                            <li><a class="dropdown-item" href="#">Random</a></li>
                            
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Who am i?</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>                    
                    
                </ul>
                
                <form class="d-flex">
                    <input class="form-control rounded-0 me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light rounded-0 me-4" type="submit"><i class="fas fa-search"></i></button>
                </form>
                
            </div>
        </div>
    </nav>
    
    <div class="container overflow-hidden">
        
        <div class="row g-3 mt-5 top-row">
            
            <div class="col-md-8 col-sm-12">

                <div class="row singleRowPost mb-3 g-4">

                    <h2 class="display-6">Category: <span class="text-primary">Programming</span></h2>

                    <div class="col-md-12">
                        <div class="card rounded-0">
                            <div class="row g-0">
        
                                <div class="col-md-4">
                                    <img src="resources/media/3.jpg" class="img-fluid card-media d-block my-auto" alt="">                            
                                </div>
        
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title">Random Post Title</h2>
                                        <p class="card-text"><small class="text-muted">22 Dec, 2020 <i class="far fa-eye"></i> 1211 <i class="far fa-comments"></i> 51</small></p>
                                        <p class="card-text fs-4">
                                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a li ard with supporting terting text below as a natural lead-in to additional content..
                                        </p>
                                        <a href="#" class="btn btn-primary rounded-0">Read more</a>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card rounded-0">
                            <div class="row g-0">
        
                                <div class="col-md-4">
                                    <img src="resources/media/6.jpg" class="img-fluid card-media d-block my-auto" alt="">                            
                                </div>
        
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title">Random Post Title</h2>
                                        <p class="card-text"><small class="text-muted">22 Dec, 2020 <i class="far fa-eye"></i> 1211 <i class="far fa-comments"></i> 51</small></p>
                                        <p class="card-text fs-4">
                                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a li ard with supporting terting text below as a natural lead-in to additional content..
                                        </p>
                                        <a href="#" class="btn btn-primary rounded-0">Read more</a>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card rounded-0">
                            <div class="row g-0">
        
                                <div class="col-md-4">
                                    <img src="resources/media/3.jpg" class="img-fluid card-media d-block my-auto" alt="">                            
                                </div>
        
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title">Random Post Title</h2>
                                        <p class="card-text"><small class="text-muted">22 Dec, 2020 <i class="far fa-eye"></i> 1211 <i class="far fa-comments"></i> 51</small></p>
                                        <p class="card-text fs-4">
                                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a li ard with supporting terting text below as a natural lead-in to additional content..
                                        </p>
                                        <a href="#" class="btn btn-primary rounded-0">Read more</a>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card rounded-0">
                            <div class="row g-0">
        
                                <div class="col-md-4">
                                    <img src="resources/media/6.jpg" class="img-fluid card-media d-block my-auto" alt="">                            
                                </div>
        
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title">Random Post Title</h2>
                                        <p class="card-text"><small class="text-muted">22 Dec, 2020 <i class="far fa-eye"></i> 1211 <i class="far fa-comments"></i> 51</small></p>
                                        <p class="card-text fs-4">
                                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a li ard with supporting terting text below as a natural lead-in to additional content..
                                        </p>
                                        <a href="#" class="btn btn-primary rounded-0">Read more</a>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg">
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>                          
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">4</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>                          
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                          <li class="page-item"><a class="page-link" href="#">7</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>

                </div>

            </div>
            
            <div class="col-md-4 col-sm-12">

                <div class="border mb-2 border-info p-4">
                    <h4 class="h4 text-primary">Sign in</h4>

                    <form action="">

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-0" name="email" id="email" placeholder="name@something.com">
                            <label for="email">Email address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-0" name="pass" id="pass" placeholder="********">
                            <label for="pass">Password</label>
                        </div>

                        <button class="btn btn-success rounded-0">Log in</button>
                        <a href="register.php" class="btn btn-primary rounded-0">Register</a>

                    </form>
                        
                </div>

                <div class="border border-danger my-2 tagCloud p-4">
                    <a href="#" class="badge rounded-pill bg-primary">Programming</a>
                    <a href="#" class="badge rounded-pill bg-secondary">Algorithm</a>
                    <a href="#" class="badge rounded-pill bg-success">Database</a>
                    <a href="#" class="badge rounded-pill bg-primary">Daily Life</a>
                    <a href="#" class="badge rounded-pill bg-warning">Travel</a>
                    <a href="#" class="badge rounded-pill bg-danger">Thought</a>
                    <a href="#" class="badge rounded-pill bg-dark">Web Development</a>
                </div>

            </div>

        </div>
        
    </div>

    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 p-3 bg-dark text-white text-center">
                &copy; 2021 | All rights reserved
            </div>
        </div>
    </footer>
    
</body>
</html>