<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Name | Mahadi Hasan</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="resources/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/vendor/all.min.css">
    <link rel="stylesheet" href="resources/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="resources/css/vendor/owl.theme.default.css">
    <link rel="stylesheet" href="resources/css/style.css">
    
    <!-- JavaScript -->
    <script src="resources/js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="resources/js/vendor/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="resources/js/vendor/owl.carousel.min.js" type="text/javascript"></script>
    <script src="resources/js/app.js" type="text/javascript"></script>   
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Mahadi's Note</a>
            <button class="navbar-toggler rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#togglerContent" aria-controls="togglerContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse navbar-collapse" id="togglerContent">
                
                <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Topics
                        </a>
                        <ul class="dropdown-menu rounded-0" aria-labelledby="navDrop">
                            <li><a class="dropdown-item" href="category.html">Programming</a></li>
                            <li><a class="dropdown-item" href="#">Algorithm</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Web Development</a></li>
                            <li><a class="dropdown-item" href="#">Web Design</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Opinion</a></li>
                            <li><a class="dropdown-item" href="#">Random</a></li>
                            
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Who am i?</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>                    
                    
                </ul>
                
                <form class="d-flex">
                    <input class="form-control rounded-0 me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light rounded-0 me-4" type="submit"><i class="fas fa-search"></i></button>
                </form>
                
            </div>
        </div>
    </nav>
    
    <div class="container overflow-hidden">
        
        <div class="row g-3 mt-5 mb-3 top-row">
            
            <div class="col-md-8 col-sm-12">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Post title</li>
                    </ol>
                </nav>

                <h1 class="h1">Some Random Post Title</h1>
                <p class="lead">
                    Published on: <span class="text-primary">02 Jan, 2021</span> | Category: <span class="text-danger">Programming</span>
                </p>
                

                <p class="fs-4">
                    Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Exercitationem ex, repellat ipsa, possimus quasi nobis, veniam quibusdam libero ad voluptas asperidus exercitationem voluptatem laborum pariatur asperiores itaque perferendis amet, obcaecati inventore natus odio repellat vel non veritatis, excepturi quos quibusdam, aperiam quasi? Ducimus.
                </p>

                <img src="resources/media/2.jpg" class="img-fluid" alt="">

                <p class="fs-4">
                    Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Exercitationem ex, repellat ipsa, possimus quasi nobis, veniam quibusdam libero ad voluptas asperiores cum dolores consequuntur blanditiis atque itaque nostrum eos molestiae dolore doloremque molestias perspiciatis minima? Eaque commodi ipsum et animi facere totam, consequuntur eius dicta! Hic aspernatur non veritatis deserunt expedita tenetur corporis illo asperiores, voluptatem cumque voluptate quaerat ratione illum iusto cum incidunt facilis quidem exercitationem fuga quo libero quibusdam error. Libero explicabo unde, animi quis repellendus exercitationem voluptatem laborum pariatur asperiores itaque perferendis amet, obcaecati inventore natus odio repellat vel non veritatis, excepturi quos quibusdam, aperiam quasi? Ducimus.
                </p>

                <p class="fs-4">
                    Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Exercitationem ex, repellat ipsa, possimus quasi nobis, veniam quibusdam libero ad voluptas asperiores cum dolores consequuntur blanditiis atque itaque nostrum eos molestiae dolore doloremque molestias perspiciatis minima? Eaque commodi ipsum et animi facere totam, consequuntur eius dicta! Hic aspernatur non veritatis deserunt expedita tenetur corporis illo asperiores, voluptatem cumque voluptate quaerat ratione illum iusto cum incidunt facilis quidem exercitationem fuga quo libero quibusdam error. Libero explicabo unde, animi quis repellendus exercitationem voluptatem laborum pariatur asperiores itaque perferendis amet, obcaecati inventore natus odio repellat vel non veritatis, excepturi quos quibusdam, aperiam quasi? Ducimus.
                </p>

                <p class="fs-4">
                    Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Exercitationem ex, repellat ipsa, possimus quasi nobis, veniam quibusdam libero ad voluptas asperiores cum dolores consequuntur blanditiis atque itaque nostrum eos molestiae dolore doloremque molestias perspiciatis minima? Eaque commodi ipsum et animi facere totam, consequuntur eius dicta! Hic aspernatur non veritatis deserunt expedita tenetur corporis illo asperiores, voluptatem cumque voluptate quaerat ratione illum iusto cum incidunt facilis quidem exercitationem fuga quo libero quibusdam error. Libero explicabo unde, animi quis repellendus exercitationem voluptatem laborum pariatur asperiores itaque perferendis amet, obcaecati inventore natus odio repellat vel non veritatis, excepturi quos quibusdam, aperiam quasi? Ducimus.
                </p>

                <div class="border p-4">
                    <h2 class="h2">Leave a Comment</h2>

                    <form action="#">                        

                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea class="form-control rounded-0" id="comment" rows="3"></textarea>
                        </div>

                        <button class="btn btn-primary rounded-0">Submit</button>

                    </form>                    

                </div>

            </div>
            
            <div class="col-md-4 col-sm-12">

                <div class="border mb-2 border-info p-4">
                    <h4 class="h4 text-primary">Sign in</h4>

                    <form action="">

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-0" name="email" id="email" placeholder="name@something.com">
                            <label for="email">Email address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-0" name="pass" id="pass" placeholder="********">
                            <label for="pass">Password</label>
                        </div>

                        <button class="btn btn-success rounded-0">Log in</button>
                        <a href="register.php" class="btn btn-primary rounded-0">Register</a>

                    </form>
                        
                </div>

                <div class="border border-danger my-2 tagCloud p-4">
                    <a href="#" class="badge rounded-pill bg-primary">Programming</a>
                    <a href="#" class="badge rounded-pill bg-secondary">Algorithm</a>
                    <a href="#" class="badge rounded-pill bg-success">Database</a>
                    <a href="#" class="badge rounded-pill bg-primary">Daily Life</a>
                    <a href="#" class="badge rounded-pill bg-warning">Travel</a>
                    <a href="#" class="badge rounded-pill bg-danger">Thought</a>
                    <a href="#" class="badge rounded-pill bg-dark">Web Development</a>
                </div>

            </div>

        </div>
        
    </div>

    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 p-3 bg-dark text-white text-center">
                &copy; 2021 | All rights reserved
            </div>
        </div>
    </footer>
    
</body>
</html>