/* mengatur responsive */
@media screen and (max-width: 576px) {
  /* .btn {
   
    margin: 5px 0;
    width: 60px;
    height: 60px;
    border: none;
    font-size: 10px;
    transition: all 0.4s ease;
    font-weight: 500;
  } */
}

/* Tablet */

@media only screen and (max-width: 800px) {
}

@media screen and (max-width: 992px) {
  .text-sm {
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) {
  #search-hidden {
    display: none;
  }
}
