@import './fonts.css';
@import './partials/variables.css';
@import './partials/global.css';
@import './animations.css';

.profile-content {
  margin: 20px 0;
}
.profile-content .isi {
  /* color: var(--black-400); */
  color: rgb(145, 145, 145);
}
.profile-content .title {
  color: var(--black-400);
  margin-top: 15px;
}
.login-area {
  box-shadow: var(--shadow-black-100);
  /* background-color: turquoise; */
  border-radius: 5px;
  margin: 40px auto 30px;
  padding: 20px;
}
.register-area {
  box-shadow: var(--shadow-black-100);
  /* background-color: turquoise; */
  border-radius: 5px;
  margin: 30px 15px 30px;
  padding: 30px;
  overflow-x: hidden;
}

.login-area p,
.register-area p {
  font-size: 20px;
}
.login-area a,
.register-area a {
  font-size: 16px;
}

.edit-user-area {
  background-color: white;
  padding: 15px;
}
