@import './fonts.css';
@import './partials/variables.css';
@import './partials/global.css';
@import './animations.css';

.profile-content {
  margin: 20px 0;
}
.profile-content .isi {
  /* color: var(--black-400); */
  color: rgb(145, 145, 145);
}
.profile-content .title {
  color: var(--black-400);
  margin-top: 15px;
}
.login-area {
  box-shadow: var(--shadow-black-100);
  /* background-color: turquoise; */
  border-radius: 5px;
  margin: 40px auto 30px;
  padding: 20px;
}
.register-area {
  box-shadow: var(--shadow-black-100);
  /* background-color: turquoise; */
  border-radius: 5px;
  margin: 30px 15px 30px;
  padding: 30px;
}

.login-area p,
.register-area p {
  font-size: 20px;
}
.login-area a,
.register-area a {
  font-size: 16px;
}

.edit-user-area {
  /* background-color: white; */
  padding: 15px;
}

/* AREA EDIT PROFILE */
.profile-picture {
  /* width: 300px;
  height: 300px; */
  /* border-radius: 50%; */
  padding: 5px;
  margin: 15px 0;
  background-color: #191c24;
}
.profile-picture img {
  border: 1px solid var(--main-color);
  width: 200px;
  height: 200px;
  margin: 3px auto;
  border-radius: 50%;
  box-shadow: var(--shadow-black-100);
}
.profile-picture img:hover {
  border: 5px solid var(--main-color);
}

.form-photo {
  margin: 20px auto;

  /* background-repeat: no-repeat; */
}

.list-user,
.list-student {
  margin: 10px;
  padding: 10px;
}

.list-user tbody,
.list-student tbody {
  color: #191c24;
}
#data-table1 th,
#students-table th {
  color: #fff;
}
#data-table1 tbody tr th,
#students-table tbody tr th {
  color: #191c24;
}

.list-user-title h3,
.list-student-title h3 {
  margin-bottom: 30px;
}

/* animation */
.count-indicator span.count {
  animation: blinker 2s linear infinite;
}

/* border auth */
.auth-area {
  border-radius: 15px;
}

/* recaptcha-display */
.recaptcha-display {
  transform: scale(0.77);
  transform-origin: 0 0;
}

form input#disabledInput {
  background-color: #000000;
}

/* 404 */
.error-404 {
  background-image: linear-gradient(-40deg, red, yellow);
}

/* dashboard */
.stretch-card {
  transition: all 0.5s ease;
}
.stretch-card:hover .card {
  border: 1px solid #666666;
}

/* dashboard */
